﻿
@Styles.Render("~/bundles/categoriesCSS")

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css ">


<div class="card">
    <div class="container-fluid pad-top">
        <div class="color-texto"><h4>Categoria principal</h4></div>
        <hr>
        <table width="100%" class="table table-striped table-bordered" id="example" cellspacing="0">
            <thead>
                <tr>

                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Opciones</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Lugar</td>
                    <td>lorem ipsum</td>
                    <td>
                        <button type="button" class="btn btn-default circle" aria-label="Left Align" data-toggle="tooltip" data-placement="top"
                                title="Listar subcategorias">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default circle ver-categoria" aria-label="Left Align" data-toggle="tooltip" data-placement="top"
                                title="Ver mas">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <!--        <button type="button" class="btn btn-default circle" aria-label="Left Align">
                                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                            </button> -->

                        <a class="btn btn-default circle" href="@Url.Action("Edit", "Categories", new { id = 1 })" data-toggle="tooltip"
                           data-placement="top" title="Editar">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>

                    </td>
                    <td><input id="Checkbox1" type="checkbox" /> Activado</td>

                </tr>
                <tr>

                    <td>Evento</td>
                    <td>lorem ipsum</td>
                    <td>
                        <button type="button" class="btn btn-default circle" aria-label="Left Align" data-toggle="tooltip" data-placement="top"
                                title="Listar subcategorias">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default circle ver-categoria" aria-label="Left Align" data-toggle="tooltip" data-placement="top"
                                title="Ver mas">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <!--       <button type="button" class="btn btn-default circle" aria-label="Left Align">
                               <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                           </button>  -->
                        <a class="btn btn-default circle" href="@Url.Action("Edit", "Categories", new { id = 1 })" data-toggle="tooltip"
                           data-placement="top" title="Editar">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>

                    </td>
                    <td><input id="Checkbox1" type="checkbox" /> Activado</td>

                </tr>
                <tr>

                    <td>Turistas</td>
                    <td>lorem ipsum</td>
                    <td>
                        <button type="button" class="btn btn-default circle" aria-label="Left Align" data-toggle="tooltip" data-placement="top"
                                title="Listar subcategorias">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default circle ver-categoria" aria-label="Left Align" data-toggle="tooltip" data-placement="top"
                                title="Ver mas">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <!--        <button type="button" class="btn btn-default circle" aria-label="Left Align">
                                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                            </button> -->
                        <a class="btn btn-default circle" href="@Url.Action("Edit", "Categories", new { id = 1 })" data-toggle="tooltip"
                           data-placement="top" title="Editar">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>

                    </td>
                    <td><input id="Checkbox1" type="checkbox" /> Activado</td>

                </tr>
            </tbody>
        </table>
    </div>
    
</div>


<!--MODAL-->

<div class="modal fade" id="mostrarCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Detalles de la categoria</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" value="Evento" readonly>
                    </div>
                    <div class="form-group">
                        <label for="descripcion" class="col-form-label">Descripcion:</label>
                        <textarea class="form-control" id="descripcion" readonly>Base sobre la cual surgiran la categorias</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js "></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/categoriesJS")
    
    }


