﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="@Url.Content("~/Images/logo_cocotrip.png")"  />
    <title>@ViewBag.Title - COCOTRIP</title>

    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>



    <div id="wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <!-- /. NAV TOP  -->
                    <nav class="navbar-default navbar-side" role="navigation">
                        <div class="sidebar-collapse">
                            <ul class="nav" id="main-menu">

                                <div class="logo-sidebar" align="center">
                                    <img src="@Url.Content("~/Images/logo_sidebar.png")" alt="">
                                </div>

                                <li class="active">
                                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-desktop "></i>Dashboard</a>         
                                </li>

                                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                                    <a href="#"><i class="fa fa-map-o" aria-hidden="true"></i> Lugar Turístico <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="products">
                                    <li class="active"><a href="#"><i class="fa fa-eye icon-see-sidebar" aria-hidden="true"></i>Ver Todos</a></li>
                                    <li><a href="#"><i class="fa fa-plus icon-add-sidebar" aria-hidden="true"></i>Agregar</a></li>
                                </ul>
                                <li data-toggle="collapse" data-target="#categoriesOption" class="collapsed active">
                                    <a  href="#"><i class="fa fa-desktop"  aria-hidden="true"></i>Categorías</a>
                                </li>
                                <ul class="sub-menu collapse sideItem" id="categoriesOption">
                                    <li><a href="@Url.Action("Create", "Categories")"><i class="fa fa-plus icon-add-sidebar" aria-hidden="true"></i>Agregar</a></li>
                                    <li class="active"><a href="@Url.Action("Index", "Categories")"><i class="fa fa-eye icon-see-sidebar" aria-hidden="true"></i>Ver Categorías</a></li>
                                </ul>
                            </ul>
                        </div>

                    </nav>
                    <!-- /. NAV SIDE  -->
                </div>

                <div class="col-9">
                    <div id="page-wrapper">
                        <div id="page-inner">

                            <div class="content-page">
                                <div class="row">
                                    <div class="headline card">
                                        <h4 class="tittle">
                                            @ViewBag.Title
                                        </h4>
                                    </div>
                                </div>
                                <!-- aqui -->
                                <div class="row" style="margin-top: 5%;">
                                    <!-- o aqui -->
                                    @RenderBody()
                                </div>
                            </div>

                        </div>
                        <!-- /. PAGE INNER  -->
                    </div>
                    <!-- /. PAGE WRAPPER  -->
                </div>

            </div>
        </div>

    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-12">
                &copy; @DateTime.Now.Year - Mi aplicación ASP.NET
            </div>
        </div>
    </div>






    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customJS")
    @RenderSection("scripts", required: false)


</body>

</html>
